<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="web/core/tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true"
         >
  <testsuites>
    <testsuite name="Drupal Test Suite">
      <directory>./modules/custom/</directory>
    </testsuite>
  </testsuites>
</phpunit>
