<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         stopOnSkipped="false"
         stopOnIncomplete="false"
         stopOnError="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/src/Unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>./tests/src/Functional</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SIMPLETEST_BASE_URL" value="http://127.0.0.1:8888"/>
        <env name="SIMPLETEST_DB" value=""/>
    </php>
    <source>
        <include>
            <directory>./src/Service/</directory>
        </include>
    </source>
</phpunit>
